<div class="container">

  <!-- Highlight Card -->
  <div class="row justify-content-center">
    <div class=".col-md-4">

      <textarea [(ngModel)]='textJson' rows="20" cols="50">
      </textarea>


      <textarea [(ngModel)]='jsonFormat' rows="20" cols="50" readonly="true">
      </textarea>

    </div>



  </div>

  <div class="row justify-content-center">
      
    <button (click)="getJsonFormat()" class="btn btn-primary">
      Add
    </button>
  
</div>




</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet>
</router-outlet>